/* Write your global styles here, in PostCSS syntax */
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
	.dropdown {
		display: grid;
		grid-template-rows: 0fr;
		transition: grid-template-rows 200ms;
	}

	.dropdown.isOpen {
		grid-template-rows: 1fr;
	}
}
